<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="my-5">
  <%= form.file_field :cover_image %>
</div>

<div class="form" style="margin:15px 50px 15px 120px">
  <div> 
    <%= form.label :name, style: "display: block", class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>  

  <div >
    <%= form.label :body, style: "display: block", class: 'form-label' %>
    <%= form.text_area :body, class: 'form-control' %>
  </div>

  <div >
    <%= form.label :item_type, style: "display: block", class: 'form-label' %>
    <%= form.select :item_type, Item.item_types.keys, { include_blank: 'Wybierz coś'}, class:"form-select" %>
  </div>

<br>
  <div>
    <%= form.submit class:"btn btn-success"%>
    <%= link_to "Strona Główna", items_path, class:"btn btn-outline-dark" %>
  </div>
</div>  
<% end %>

