<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



<div class="form" style="margin:15px 50px 15px 120px">

<div class="my-5">
 <strong>  <%= form.label "Zdjęcie poglądowe" , style: "display: block", class: 'form-label' %> </strong>
  <%= form.file_field :cover_image, class: 'form-control' %>
</div>

<div class="mb-8">
    <%= form.label "Typ rekordu", style: "display: block", class: 'form-label' %>
    <%= form.select :item_type, Item.item_types.keys, { include_blank: '-- Twój wybór --'}, class:"form-select" %>
  </div>

  <div class="mb-8"> 
    <%= form.label "Nazwa rasy", style: "display: block", class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>  

  <div class="mb-8">
    <%= form.label "Opis rasy", style: "display: block", class: 'form-label' %>
    <%= form.rich_text_area :body, class: 'form-control' %>
  </div>
  

<br>
  <div class="mb-8">
    <%= form.submit class:"btn btn-success"%>
    <%= link_to "Strona Główna", items_path, class:"btn btn-outline-dark" %>
  </div>
</div>  
<% end %>

