<div id="<%= dom_id item %>">
<br><br>
<div class="row">
  <h1 style="margin:0px 15px 50px 0px"> <%= item.name %>  </h1>
<div class="image">

  <% if item.cover_image.attached?%>
      <%= image_tag item.cover_image, height:"380px",width:"480px", style:"border-radius:25px"%>
      <% else %>
      <%= image_tag "1.jpg", height:"185px",width:"185px", style:"border-radius:25px"%>
  <% end %>
</div>

  <div class="text">
      <h5 style="margin:0px 15px 50px 0px"><br> <%= item.body %> </h5>
  </div>
  
</div >

</div> 