<p style="color: green"><%= notice %></p>

<h1>Lista Kotów</h1>

<% (1..9).each_slice (9) do |item| %>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-lg-4" style="border-radius:25px;">

        <% if item.cover_image.attached?%>
          <%= image_tag item.cover_image, height:"280px",width:"100%", style:"border-radius:25px"%>
          <% else %>
         <%= image_tag "1.jpg", height:"185px",width:"185px", style:"border-radius:25px"%>
         <% end %>

         <div class="text-left">
            <h1 strong class="card-text"> <%= item.name %> </h1> </strong> 
          </div>
            <!--
            <p class="card-text"><%= item.body %></p> -->
            
            <%= item.item_type %>

            <div class="buttom">
              <%= link_to "Więcej", item, class:"btn btn-dark" %> <P>
            </div>
            
      </div>
      
    <% end %>
  </div>

</div>
<% end %>
