<p style="color: green"><%= notice %></p>

<%= render @item %>
<br><br><br>

<div>
  <%= link_to "Edit this item", edit_item_path(@item), class:"btn btn-outline-secondary" %> |
  <%= link_to "Back to items", items_path, class:"btn btn-outline-dark"%> | <br><br>

  <%= button_to "Destroy this item", @item, method: :delete, class:"btn btn-outline-danger" %>
  <br>
</div> 
